<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oneapp.oneappandroidapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/favicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OneAPPAndroidApp">
        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true"></service>

        <activity android:name=".activity.TzcWebActivity" />
        <activity android:name=".activity.GDMapActivity" />
        <activity android:name=".activity.LifeServiceActivity" />
        <activity android:name=".activity.QaaActivity" />
        <activity
            android:name=".activity.OneAPP"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>